<!DOCTYPE html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
  </head>
  <body style="height: max-content;" >
    <iframe
      src="http://localhost:3000/#/widgetswap/darkmode"
      style="border-radius: 22px;"
      scrolling="no"
      id="frame"
      width="398px"
      height="365px"
    >
    </iframe>
  </body>
</html>
